/* DOCUMENT INFORMATION
    -Document : Agence de Voyage thème
    -Version : 1.0.0
    -Auteur : Adeline 
*/

/* COLOR
    -defaut body text #000
    -h1        
    -h2
    -h3
    
    -button
    -button:hover

    -icon         
    
    -border
*/

/* FONTS 
    -default : Lora
    -subtitle
    */
/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS    
 */

/* GLOBAL
 ========================== */

header,
section,
h1, h2, p {
    font-family: Lora, 'Aria', sans-serif;
}

body {
    background-image: url(./images/background.jpg);
    background-position: center;
    background-size: cover;

}


/* NAVBAR */

.container a {
    font-size: 30px;
    padding-left: 50px;
}

.navbar-nav {
    padding-left: 70PX;
}

.navbar a {
    color: rgba(255, 255, 255, 0.836) !important;
    scroll-behavior: smooth;
}

/* CAROUSEL */


/* IDEES DE VOYAGE */

h1 {
    margin: 15px;
}

.card {
    margin: 20px;
}

.card img {
    height: 150px;
}

.container {
    text-align: center;
}

.card-title {
    font-size: 25px;
}

/* <!-- BANDEAU PUB --> */

.badge{
   position: absolute;
   height: 10%;
   transform: rotate(-35deg);
   top: 100px;
   text-align: center;
   font-size: 25px;
}

.badge1{
    position: absolute;
    right: 0;
    height: 10%;
    transform: rotate(35deg);
    top: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
 }

.bandeau img{
    width: 100%;
    height: 40vh;
}

/* OFFRES DE VOYAGE */

.btn{
    position: absolute;
    bottom: 40%;
    right: 30px;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    text-align: center;   
}

/* <!-- FORMULAIRE --> */

#contact{
    margin: 30px;
}

.phone .fas{
    padding-right: 10px;
}

.adress .fas{
    padding-right: 10px;
}
.contact-form input {
    width: 12rem;
    border-radius: 12px;
}

.contact-form{
    margin-bottom: 30px;
}

.contact-message{
    width: 100%;
    border-radius: 12px;
}

.btn-contact{
    background-color: rgb(47, 180, 233);
    color: #000;
    font-weight: bold;
    position: relative;
}

.map{
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
